table{
font-size:15px;
}
.dataTables_scrollBody{
max-height:410px;
}
#dataset-last-words-of-death-row-inmates-i p{
margin-bottom:0px;
}
#dataset-last-words-of-death-row-inmates-i li{
font-size:12px;
}
.MathJax_Display{
font-size:16px
}
